@media only screen and (max-width: 575px) {
  /* xay dung Navnavi */
  #navi {
    height: auto;
    padding: 80px 0;
  }
  #navi .coner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #navi .block {
    border: none;
  }
  /* xay dung thong tin nghe nghiep*/
  #job-infor {
    height: auto;
    width: 100%;
  }
  #job-infor .coner-job {
    display: flex;
    flex-direction: column;
  }

  /* CHỨNG CHỈ - THÀNH TÍCH GIẢI THƯỞNG */
  #certificate {
    display: block;
    padding: 0 !important;
    height: auto;
    width: 100%;
    text-align: center;
  }
  #certificate .coner-cert {
    display: block;
    padding: 10px 0 0 0;
  }
  #certificate .coner-a-item {
    display: block;
    padding: 0;
    padding-top: 20px;
    border: none;
    border-bottom: 1px solid #d6c08d !important;
  }
  .coner-a-item img {
    max-width: 340px;
    height: auto;
  }
  #footer {
    width: auto;
    font-size: 1rem;
  }
}
